@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;

@{
    ViewData["Title"] = "Chat Room";
}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">

                <!-- 标题区 -->
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="/img/_D.jpg" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <!-- 机器人名 -->
                            <span>Chat with Tommy</span>
                            <!-- 聊天记录数 -->
                            <p>1767 Messages</p>
                        </div>
                        <div class="video_cam">
                            <span><i class="fas fa-video"></i></span>
                            <span><i class="fas fa-phone"></i></span>
                        </div>
                    </div>
                </div>

                <!-- 聊天信息区 -->
                <div class="card-body msg_card_body"></div>

                <!-- 信息输入区 -->
                <div class="card-footer">
                    <div class="input-group">
                        <textarea id="message-input" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn">
                                <i id="send-button" class="fas fa-location-arrow">确定</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
